node_modules
server/node_modules
client/node_modules
client/dist
.git
.gitignore
*.log
*.bat
*.md
*.pdf
*.html
server/.env
.env
server/src/config/*.sqlite
server/src/config/*.sqlite-shm
server/src/config/*.sqlite-wal
uploads/
server/uploads/
